@mixin d-flex ($direction: row, $justify-content:flex-start, $align-items:flex-start, $gap: 20px) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
    gap: $gap;
}

@mixin h-property($font-size: 14px, $line-height: 24px, $font-weight: 400) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: 0.2px;
}
